/* Stylesheet view and Edit Invoice  */

/*  Desktop Design  */

.wrapper_newandeditInvoice__footer{

    position: relative;
    display: block;
    width: 100%;
    height: 90px;

}

.wrapper_newandeditInvoice{

    position: relative;  
    flex-direction: column;
    width: calc(60vw + 70px);
    left: 140px;
    top: 0px;
    padding: 45px 70px;
    padding-bottom: 0px;
    background-color: rgb(253, 253, 253);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;


    &__form{

        margin-top: 50px;
       
        &--title{

            font-size: 16px;
            font-weight: 600;
            color: rgb(128, 67, 241);
            padding-bottom: 10px;

        }

        &--title:nth-child(6){

            margin-top: 50px;

        }

        &--text{

            color: darken(rgb(136, 142, 176), 10%);
            padding: 15px 0px;
            padding-top: 30px;
            text-align: start;

        }

        &--textpseudo{

           display: none;

        }

        &--flex:nth-child(4) p{

            width: 30%;

        }

        &--flex:nth-child(13) p{

            width: 30%;

        }

        &--flex:nth-child(14) p{

            display: none;

        }

        &--textdesktop{

            @extend .wrapper_newandeditInvoice__form--text;

        }

        &--input{

            position: relative;
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            padding: 10px 10px;
            background-color: transparent;
            border: 1px lightblue solid;

        }

        &--inputmobile{
    
            display: none;

        }

        &--inputdesktop{
    
            @extend .wrapper_newandeditInvoice__form--input;

        }

        &--inputlarge{

            @extend .wrapper_newandeditInvoice__form--input;
            width: 100%;

        }

        &--inputsmall{

            @extend .wrapper_newandeditInvoice__form--input;
            width: 30%;

        }

        &--inputmiddle{

            @extend .wrapper_newandeditInvoice__form--input;
            width: 45%;

        }

        &--flex{

            position: relative;
            display: inline-flex; 
            justify-content: space-between;
            width: 100%;
               
        }

        &--flex:nth-child(5) p:nth-child(1){

            display: none;

        }

        &--flex:nth-child(5) p:nth-child(3){

            display: none;

        }

        &--flex:nth-child(5) p:nth-child(5){

            display: none;

        }

        &--flex:nth-child(14) p:nth-child(-n+3){

            display: none;

        }

        &--flex:nth-child(15) input:nth-child(2){

            display: none;

        }

        &--flex:nth-child(15) select:nth-child(4){

            display: none;

        }

        &--flex:nth-child(15) p{

            width: 45%;
               
        }

        &--flex .wrapper_newInvoice__form--text{

            width: 30%;
            
        }

        &--label{

            position: relative;
            width: 30%;
           
        }

        &--inputselect{

            background-color: transparent;
            width: 45%;
            border: 1px lightblue solid;

        }

        &--title:nth-child(19){

            margin-top: 50px;

        }

        &--container{

            display: none;

        }

        &--textsized{

            padding: 0px 0px;
            
            align-self: center;

        }

        &--flextext{

            display: flex;
            justify-content: center;
            align-items: center;
            width: 5%;

        }

        &--button{

            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 25px;
            margin-top: 40px;
            background-color: lighten(rgb(136, 142, 176), 30%);
            color: darken(rgb(136, 142, 176), 10%);
            cursor: pointer;

        }

        &--button p{

            padding: 15px 0px;
            cursor: pointer;

        }

        &--buttonsmall{

            @extend .wrapper_newandeditInvoice__form--button;
            width: 30%;
            margin-top: 40px;
            margin-bottom: 40px;
            
        }

        &--buttonmiddle{

            @extend .wrapper_newandeditInvoice__form--button;
            width: 30%;
            margin-top: 40px;
            margin-bottom: 40px;
            background-color: lighten(rgb(37, 41, 69), 20%);
            color: darken(rgb(136, 142, 176), 10%);
            cursor: pointer;
           
        }

        &--buttonmiddlecolored{

            @extend .wrapper_newandeditInvoice__form--buttonmiddle;
            background-color: lighten(rgb(124, 93, 250), 0%);
            width: 30%;
              
        }

        &--buttonmiddlecolored p{

            color:rgb(253, 253, 253);
            padding: 15px 0px;
            cursor: pointer;
              
        }

        &--buttonmiddle:nth-child(27) p{

            color: white;
            
        }

        &--buttonmiddle:nth-child(26){

            background-color: lighten(rgb(124, 93, 250), 0%);

        } 

        &--buttonmiddle:nth-child(26) p{

            color: white;

        } 
        
    }

    &__btns{

        position: relative;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        
    }

    &__btnsmiddle{

        width: 60%;

    }

}

.delete_item .delete_item--path{

    cursor: pointer;

}

/** Globale Klassen  **/

.desktop_none{

    display: none;

}

.enable{

    display: inline-flex;

}

.disable{

    display: none !important;

}

.width10{

    width: 10% !important;

}

.width19{

    width: 19% !important;

}

.width20{

    width: 20% !important;

}

.width40{

    width: 40% !important;

}

.inline{

    position: relative;
    display: inline-block;

}

/*  Tablet Design in work     */
  
@media (max-width: 800px){

    .wrapper_newandeditInvoice{

        &__form{

            &--textdesktop{

                display: none;

            }

            &--flex:nth-child(4){

                flex-wrap: wrap;

            }

            &--flex:nth-child(4) p:nth-child(-n+2){

                width: 49%;

            }

            &--flex:nth-child(5){

                flex-wrap: wrap;

            }

            &--flex:nth-child(5) p:nth-child(5){

                display: inline-block;
    
            }

            &--flex:nth-child(5) p:nth-child(3){

                display: none;

            }

            &--flex:nth-child(5) input:nth-child(-n+4){

                width: 49%;

            }

            &--flex:nth-child(5) input:nth-child(6){

                width: 100%;

            }

            &--flex:nth-child(13) p{

                width: 49%;
    
            }

            &--flex:nth-child(14) {

                flex-wrap: wrap;
    
            }

            &--flex:nth-child(14) p:nth-child(5){

                display: inline-block;

            }

            &--flex:nth-child(14) input:nth-child(-n+4){

                width: 49%;

            }

            &--flex:nth-child(14) input:nth-child(6){

                width: 100%;

            }

            &--flex:nth-child(15) {

                flex-wrap: wrap;
    
            }

            &--flex:nth-child(15) p{

                width: 100%;
    
            }

            &--flex:nth-child(15) input:nth-child(2){

                display: inline-block;
                width: 100%;
    
            }
    
            &--flex:nth-child(15) select:nth-child(4){
    
                display: inline-block;
                width: 100%;
                font-size: 16px;
                padding: 10px 10px;
    
            }

            &--flex:nth-child(16) {

                display: none;
    
            }

            &--inputmobile{
    
                position: relative;
                display: inline-block;
                font-size: 16px;
                font-weight: 400;
                padding: 10px 10px;
                background-color: transparent;
                border: 1px lightblue solid;
    
            }

            &--inputdesktop{
    
                display: none;
    
            }

            &--textpseudo{

                display: inline-block;
                position: relative;
                width: 20px;
     
            }

            &--buttonmiddle:last-child{

                margin-bottom: 40px !important;

            }

        }

        &__btns p{

            font-size: 10px;
    
        }

    }

    .wrap{
       
        flex-wrap: wrap;

    }

    .width40{

        width: 100% !important;
    
    }

    .width10{

        width: 20% !important;
    
    }

    .width19{

        width: 40px !important;
    
    }

    .width20{

        width: 30% !important;
    
    }

    .right80{

        margin-right: 80px;

    }

    .btn-mobile{

        width: 100%;
        margin-top: 40px !important;
        margin-bottom: 0px !important;

    }

}

@media (max-width: 640px){

    .wrapper_newandeditInvoice{

        position: relative;  
        width: 100vw;
        left: -90px;
        top: 100px;
        border-radius: 0px;

        &__form{
        
            &--flex:nth-child(4){

                display: none;

            }

            &--flex:nth-child(5) p:nth-child(1){

                display: inline-block;
                width: 100%;

            }

            &--flex:nth-child(5) p:nth-child(3){

                display: inline-block;
                width: 100%;

            }

            &--flex:nth-child(5) p:nth-child(5){

                display: inline-block;
                width: 100%;

            }

            &--flex:nth-child(5) input{

                width: 100% !important;

            }

            &--flex:nth-child(13){

                display: none;

            }

            &--flex:nth-child(14) p:nth-child(-n+5){

                display: inline-block;

            }

            &--flex:nth-child(14) input{

                width: 100% !important;

            }

            &--container{

                position: relative;
                display: inline-flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-top: 30px;
                width: 100%;
    
            }

            &--container p{

                padding: 0px 0px;

            }
            
            &--buttonsmall{

                width: 100%;
                margin: 0px 0px;
                margin-top: 30px;

            }

            &--buttonmiddle{

                width: 100%;
                margin: 15px 0px;
                
            }

            &--buttonmiddlecolored{

                width: 100%;
                margin: 0px 0px;
                margin-bottom: 30px;

            }
           
        }

        &__btns{

            display: inline-flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            
        }

        &__footer{

            display: inline-block;
            
        }
    
    }

    .mobile_none{

        display: none;

    }

    .desktop_none{

        display: inline-block;
        width: 100%;

    }

    .width10{

        width: 100% !important;

    }

    .width19{

        display: none;

    }

    .width20{

        width: 100% !important;

    }

}
    



    

   

  